---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets'
import WhoIsImage from '../../public/image2.png'
import ImageOne from '../../public/slides/image.png'
---

<Layout 
	title="WeDoIt Denmark | forside"
	description="WeDoIt Denmark er en hjælper børn og unge med sociale udfordringer. Vi tilbyder en række forskellige aktiviteter, som kan hjælpe børn og unge med at få en bedre hverdag."
	>

	<section class="hero container">
      <div class="row">
        <div class="col">
          <h1>Skal vi donere dit brugte elektronik?</h1>
          <p>
            <a href="#">Læs hvordan</a>
          </p>
        </div>
      </div>
	</section>

  <section class="how-to-donation">
    <div class="container">
      <div class="row">
        <div class="col-full">
          <h2>Hvordan donere man?</h2>
        </div>
        <div class="col-half">
          <p>
            Du har mulighed for at donere dine genstande på flere måder.
          </p>
          <h3>Indlevering:</h3>
          <p>
            Du har mulighed for at indlevere i postkassen i SPAR på følgende addresse:<br>
            Støberigade 27-31 2450 København SV
          </p>
          <p>Du har også mulighed for at indlevere direkte til os efter aftale</p>
        </div>
        <div class="col-half">
          <h3>
            Afhentning:
          </h3>
          <p>
            Er det nemmere for dig at vi kommer og afhenter din donation er dette også muligt.
          </p>
          <p>
            Vi afhenter i følgende byer:<br>
            <ul>
              <li>Valby</li>
              <li>Sydhavnen</li>
              <li>Frederiksberg</li>
              <li>Hvidovre</li>
              <li>Nørrebro</li>
              <li>Nordvest</li>
              <li>Indre by samt Amager</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="we-have-helped-section">
    <div class="container">
      <div class="row">
        <div class="col-half">
          <div class="image-container image-bg-frame-left">
            <!-- Slider main container -->
              <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                  <!-- Slides -->
                  <div class="swiper-slide">
                    <Image src={ImageOne} alt="WeDoIt Danmark har hjulpet mere end 100 børn og unge" height={500} width={500} />
                  </div>
                  <div class="swiper-slide">
                    <Image src={ImageOne} alt="WeDoIt Danmark har hjulpet mere end 100 børn og unge" height={500} width={500} />
                  </div>
                  <div class="swiper-slide">
                    <Image src={ImageOne} alt="WeDoIt Danmark har hjulpet mere end 100 børn og unge" height={500} width={500} />
                  </div>
                  <div class="swiper-slide">
                    <Image src={ImageOne} alt="WeDoIt Danmark har hjulpet mere end 100 børn og unge" height={500} width={500} />
                  </div>
                  <div class="swiper-slide">
                    <Image src={ImageOne} alt="WeDoIt Danmark har hjulpet mere end 100 børn og unge" height={500} width={500} />
                  </div>
                  <div class="swiper-slide">
                    <Image src={ImageOne} alt="WeDoIt Danmark har hjulpet mere end 100 børn og unge" height={500} width={500} />
                  </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination swiper-bullets">
                  <span class="swiper-pagination-bullet"></span>
                  <span class="swiper-pagination-bullet"></span>
                  <span class="swiper-pagination-bullet"></span>
                </div>
              </div>
          </div>
        </div>
        <div class="col-half h-full flex justify-center column">
          <h2>
            Se hvem vi har hjulpet
          </h2>
          <p>Vi har hjulpet mere en 100+ børn og unge med diverse donationer fra danskere rundt i hele landet.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="who-is-section">
    <div class="container">
      <div class="row">
        <div class="col-half flex column justify-center">
          <h2>Hvem er We Do It Danmark</h2>
          <p>
            We Do It Danmark er et privat velgørenheds projekt, der støtter om danmarks børn og unge med social udsættelse, med brugt elektronik og andet udstyr.
          </p>
          <p>
            Vi ønsker at støtte op om de Børn og Unge der sidder i en eller flere svære situationer:
          </p>
          <ul>
            <li><strong>Man er bosat i udsatte områder</strong></li>
            <li><strong>Man er i en udsat familie</strong></li>
            <li><strong>Har en eller flere psykiske lidelser</strong></li>
          </ul>
        </div>
        <div class="col-half">
          <div class="image-container image-bg-frame-right">
            <Image src={WhoIsImage} alt="Hvem er We Do It Danmark" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="want-to-donate-section">
    <div class="container">
      <div class="row">
        <div class="col-half">
          <h2>Ønsker du stadig at donere?</h2>
          <p>Kontakt os via: <br /> E-mail: <a href="mailto:wedoitdenmark@gmail.com">wedoitdenmark@gmail.com</a></p>
          <p>eller find og skriv til os via vores <a href="https://www.facebook.com/WeDoItDenmark">facebook</a> side for at hører nærmere</p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">

  .hero {
    background-image: url('/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 70px;
    color: white;
    box-shadow: 0px 7px 11px -8px #2a2a2a;

    @media (min-width: 768px) {
      border-radius:var(--border-radius);
      -webkit-border-radius:var(--border-radius);
      -moz-border-radius:var(--border-radius);
      -ms-border-radius:var(--border-radius);
      -o-border-radius:var(--border-radius);
    }

    a {
      color: var(--white);
    }

    @media (max-width: 767px) {
      border-radius:0px;
      -webkit-border-radius:0px;
      -moz-border-radius:0px;
      -ms-border-radius:0px;
      -o-border-radius:0px;
      padding: 0 20px;;

      display: flex;
      align-items: center;
      height: 300px;

      h1 {
        font-size: 2rem;
      }
    }

    a {
      color: var(--white);
    }

    h1 {
      width: 66%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }

  .we-have-helped-section {
    .row {

      @media (max-width: 768px) {
        flex-direction: column-reverse;
      }
      .container {
        h2,
        p {
          padding-inline: 5rem;
        }
      
        @media (max-width: 768px) {
          h2 {
            margin-top: 6rem;
          }
      
          p,
          h2 {
            padding-inline: 0;
          }
        }
      }
    }
  }

  .we-have-helped-section .container {
  }
  .image-container {
    position: relative;
    
    // left bg frames 
    &.image-bg-frame-left{
  
      img {
        margin-top: 20px;
        margin-left: 30px;
        z-index: 3;
        position: relative;

        @media (max-width: 639px) {
          margin-left: 0;
        }
      }
      
      &::before,
      &::after {
        border-radius: 10px;
      }

      @media (max-width: 768px) {
        &::before,
        &::after {
          display: none;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        width: 78%;
        height: 93%;
        background: var(--secondary-color);
        opacity: 0.4;
      }

      &::after {
        content: "";
        position: absolute;
        top: 70px;
        right: 55px;
        width: 80%;
        height: 90%;
        background: var(--secondary-color);
      }
    }

    // right sided image bg frames
    &.image-bg-frame-right {
      display: flex;
      justify-content: flex-end;

      @media (max-width: 768px) {
        justify-content: center;
        margin-top: 3rem;
      }
      img {
        z-index: 3;
        position: relative;
        margin-right: 30px;

        @media (max-width: 639px) {
          border-radius: 20px;
        }
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        border-radius: 10px;
      }

      &::before {
        height: 97%;
        width: 70%;
        background-color: var(--secondary-color);
        right: 0;
        top: -30px;

        @media (max-width: 768px) {
          display: none;
        }

        @media (min-width: 1200px) and (max-width: 1439px) {
          width: 80%;
        }
        
      }

      &::after {
        height: 97%;
        width: 70%;
        background-color: var(--primary-color);
        left: 115px;
        bottom: -30px;

        @media (max-width: 1199px) {
          display: none;
        }

        @media (min-width: 1200px) and (max-width: 1439px) {
          left: 30px;
          width: 79%;
        }
      }
    }

    .swiper .swiper-pagination {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: -60px;

      .swiper-pagination-bullet-active {
        background: var(--primary-color) !important;
      }

      .swiper-pagination-bullet-active {
        background: #dd3061;
      }
    }
  }
</style>